# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
# SPDX-License-Identifier: MIT-0
# Copy to .env.local and fill in values from Terraform outputs
VITE_API_URL=http://localhost:8000/api
VITE_COGNITO_POOL_ID=us-east-1_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_DEMO_PASSWORD=
